In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

In [2]:
#Loading the dataset
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [3]:
df = df[(df['Gender'] == 'Female')]
df = df[['Gender', 'MonthlyIncome']]
df

      Gender  MonthlyIncome
0     Female           5993
3     Female           2909
6     Female           2670
11    Female           4193
15    Female           9980
...      ...            ...
1457  Female           2001
1458  Female           2977
1460  Female           3785
1462  Female          12031
1464  Female           2966

[588 rows x 2 columns]

In [4]:
#Finding the mean of monthly income of Female 
df['MonthlyIncome'].mean()

6686.566326530612

In [5]:
#Finding the median of monthly income of Female 
df['MonthlyIncome'].median()

5081.5

In [6]:
#Finding the mode of monthly income of Female 
df['MonthlyIncome'].mode()

0      2109
1      2187
2      2342
3      2743
4      2886
5      2942
6      3294
7      3452
8      3760
9      4011
10     4014
11     4148
12     4639
13     4779
14     5204
15     5228
16     5238
17     5605
18     5769
19     6142
20     6397
21     6500
22     6811
23    17328
Name: MonthlyIncome, dtype: int64

In [7]:
#Loading the dataset
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
df = df[(df['Gender'] == 'Male')]
df = df[['Gender', 'MonthlyIncome']]
df

     Gender  MonthlyIncome
1      Male           5130
2      Male           2090
4      Male           3468
5      Male           3068
7      Male           2693
...     ...            ...
1465   Male           2571
1466   Male           9991
1467   Male           6142
1468   Male           5390
1469   Male           4404

[882 rows x 2 columns]

In [8]:
#Finding the mean of monthly income of Male 
df['MonthlyIncome'].mean()

6380.507936507936

In [9]:
#Finding the median of monthly income of Male 
df['MonthlyIncome'].median()

4837.5

In [10]:
#Finding the mode of monthly income of Male 
df['MonthlyIncome'].mode()

0    2380
1    2451
2    2610
Name: MonthlyIncome, dtype: int64